DJANGO_SECRET_KEY=CHANGE_ME_LONG_RANDOM_SECRET
DEBUG=0
ALLOWED_HOSTS=rapportssnppk.cgwgroups.com,localhost,127.0.0.1
POSTGRES_DB=snppk
POSTGRES_USER=snppk
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
DATABASE_URL=postgis://snppk:CHANGE_ME_DB_PASSWORD@db:5432/snppk
CORS_ALLOWED_ORIGINS=https://rapportssnppk.cgwgroups.com
CSRF_TRUSTED_ORIGINS=https://rapportssnppk.cgwgroups.com
TZ=Africa/Douala
